@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 2px solid green !important;
    
}

body{
    font-family: 'Raleway', sans-serif;
}


a{
    text-decoration: none;
}



.wrapper{
 display: flex;
 column-gap: 60px;
}

.open{
    display: flex !important; 
}

.en{
    box-sizing: border-box;
    width: 100%; 
    padding: 0; 
    margin: 0 auto; 
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 165px;
}

header{
    background-color: #E1EDE6; 
}

.header-logo{
    color: #598D66;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}


.header-menu-list{
    display: flex;
    column-gap: 60px;
    list-style-type: none;

}

.header-menu-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition-duration: 0.2s;
    color: #2C2D35;
}


.header-menu-link:hover{
    color:#598D66
}

.header-menu-link:focus {
    background-color: #D4E8D9;
}

.header-menu-link:active{
    color: #598D66;
}





.shopping-cart {
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.2s;
  }
  
  
  .shopping-cart:hover svg path {
    stroke: #598D66; 
  }

  .shopping-cart:focus{
    background-color: #D4E8D9;
  }


.shopping-cart:active svg path {
    stroke: #376B44; 
}


.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.burger span{
    height: 2px;
    width: 20px;
    transform: scale(1);
    background-color: #4C5866;
    border-radius: 1px;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #4C5866;
    border-radius: 1px;
    transition: all 0.3s ease 0s;
}

.burger::before {top: 0;}

.burger::after{bottom: 0;}

.burger.active span {transform: scale(0);}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


.hero-container{
    max-width: 100%; 
    margin: 0 auto;
    padding: 0 165px; /* Гибкий отступ с краёв */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--info{
    width: 540px;
    height: 335px;
}

/* текст h1 */
.highlight1{
    font-weight: 500;
    font-size: 60px;
    line-height: 66px;
    color: #2C2D35;
}

.highlight2{
    font-weight: 500;
    font-size: 60px;
    line-height: 66px;
    color: #598D66;
}

.text1{
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #86928B;
}

.products{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #598D66;
    background: none;
    border: 1px solid #598D66;
    padding: 20px 60px;
    margin-top: 60px;
}

.products:hover{
    color: #F4F6F5;
    background-color: #598D66;
    transition-duration: 0.3s;
}

.products:focus{
    color: #598D66;
    background-color: #D4E8D9;
}

.products:active{
    color: #FFFFFF;
    background-color: #376B44;
}


.reproductions {
    color: #2C2D35;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
}

.bottom{
    column-gap: 30px;
}

.france{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2C2D35;
    background-color: #D4E8D9;
    border: 2px solid #D4E8D9;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-right: 32px;
  
}

.france:hover{
    background-color: #598D66;
    color: #F4F6F5;
    transition-duration: 0.2s;
    border: 2px solid #598D66;
}

.france:focus{
    background-color: #D4E8D9;
    color: #2C2D35;
    border: 2px solid #598D66;
}

.france:active{
    background-color: #376B44;
    color: #F4F6F5;
    border: 2px solid #376B44;

}

.germany{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2C2D35;
    background-color: #D4E8D9;
    border: 2px solid #D4E8D9;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-right: 27px;

}

.germany:hover{
    background-color: #598D66;
    color: #F4F6F5;
    transition-duration: 0.2s;
    border: 2px solid #598D66;
}

.germany:focus{
    background-color: #D4E8D9;
    color: #2C2D35;
    border: 2px solid #598D66;
}

.germany:active{
    background-color: #376B44;
    color: #F4F6F5;
    border: 2px solid #376B44;

}

.england{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2C2D35;
    background-color: #D4E8D9;
    border: 2px solid #D4E8D9;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  
}

.england:hover{
    background-color: #598D66;
    color: #F4F6F5;
    transition-duration: 0.2s;
    border: 2px solid #598D66;
}

.england:focus{
    background-color: #D4E8D9;
    color: #2C2D35;
    border: 2px solid #598D66;
}

.england:active{
    background-color: #376B44;
    color: #F4F6F5;
    border: 2px solid #376B44;

}

.catalog-container{
    max-width: 1110px;
    margin: 0 auto;
    padding-inline: 165px;

}

.paintings{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.product-catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    justify-content: center;
  }

  .product-card{
    background-color: #E1EDE6;
    max-width: 600px;  
    padding: 20px;
  }

  .product-image{
    width: 100%;
    height: auto;
  }

  .product-title{
    font-weight: 300;
    font-size: 18px;
    color: #86928B;
    padding-top: 10px;

  }

  .product-name{
    font-weight: 500;
    font-size: 30px;
    color: #2C2D35;
    padding-top: 10px;
 
  }

  .product-details{
    font-weight: 500;
    font-size: 18px;
    color: #2C2D35;
    line-height: 21px;
    padding-top: 8px;
  }

  .product-price{
    font-weight: 500;
    font-size: 24px;
    color: #598D66;
    line-height: 28px;
    padding-top: 30px;
  }

  .add-cart{
    font-weight: 500;
    font-size: 20px;
    color: #598D66;
    background: none;
    border: 1px solid #598D66;
    padding: 20px 60px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    
  }

  .add-cart:hover{
    color: #F4F6F5;
    background-color: #598D66;
    transition-duration: 0.3s;
}

.add-cart:focus{
    color: #598D66;
    background-color: #D4E8D9;
}

.add-cart:active{
    color: #FFFFFF;
    background-color: #376B44;
}

.section{
    position: relative;
    overflow: hidden;
    padding-top: 66px;
    padding-bottom: 73px;
    background-image: url(../img/promo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
}

.promo-section {
    max-width: 1140px;
    padding: 0 165px;
    margin: 0 auto;
}

h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: white;
}


.text3{
    background-image: url('img/promo-star.png');
    background-repeat: no-repeat;
    max-width: 520px;
    background-size: 80px 80px;
    margin-bottom: 16px;
    padding-left: 100px;
    background-position: left center;
    height: 80px;
}


.text-container{
    max-width: 540px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    
}

 .promo-text1{
    margin-bottom: 20px;
 }


.learn{
    font-weight: 500;
    font-size: clamp(16px, 2.5vw, 20px); /* Адаптивный размер кнопки */
    line-height: 24px;
    color: #2C2D35;
    background-color: #EEDB6D;
    border: 1px solid #EEDB6D;
    padding: 20px 60px;
}

.learn:hover{
    color: #2C2D35;
    background-color: #FAEB97;
    border: 1px solid #FAEB97;
    transition-duration: 0.3s;
}

.learn:focus{
    color: #2C2D35;
    background-color: #FAEB97;
    border: 1px solid #A38314;
}

.learn:active{
    color: #2C2D35;
    background-color: #D9B949;
    border: 1px solid #D9B949;
}

.team-section {
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 1100px;
    height: 440px;
    margin: 70px auto; 

}



.image-frame img {
    width: auto;
    height: auto;
}

.team-info {
    max-width: 635px;
    height: 272px;
    margin-left: 30px;
}

.team-info h4{
    font-weight: 500;
    font-size: 40px;
    color: #2C2D35;
    margin-bottom: 20px;
    
}

.team-info p {
    font-size: 18px;
    line-height: 27px;
    color: #2C2D35;
    margin-bottom: 20px;
    
}

.team-members {
    display: flex;
    gap: 30px;
    
}

.team-members img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer {
    background-color: #E1EDE6; 
    padding-top: 22px;
    padding-bottom: 22px;
}

.blocks-container{
    display: flex;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-left{
    margin-right: 115px;
}

.footer-logo{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    gap: 6px;
    color: #598D66;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.number{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    font-weight: 500;
}

.workshop{
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #86928B;
}

.footer-right{
    display: flex;
    flex-grow: 1;
}

.footer-menu{
    display: flex;
    margin-right: auto;
}

.footer-menu-column:not(:last-child){
    margin-right: 60px;
}

.footer-menu-title{
    margin: 0;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.country{
    font-size: 18px;
    line-height: 27px;
    color: #86928B;
    list-style-type: none;
    margin-bottom: 5px;
}

.year{
    font-size: 18px;
    line-height: 27px;
    color: #86928B;
    list-style-type: none;
    margin-bottom: 5px;
}

.specialist{
    font-size: 18px;
    line-height: 27px;
    color: #86928B;
    list-style-type: none;
    margin-bottom: 5px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.social-item:not(:last-child){
    margin-right: 30px;
}

.copyright{
    margin: 0;
    padding-top: 10px;
    padding-right: 29px;
    font-size: 12px;
    color: #86928B;
}

.copyright span{
    margin-top: 6px;
    display: block;
}


@media(max-width: 1100px){
    .bottom{
        display: flex;
        column-gap: 0px;
    }
}



@media (max-width: 920px){

    .blocks-container{
        width: auto;
        height: 250px;
        display: grid;
        padding: 0 39px;
    }
    
}



@media (max-width: 868px){
    .en{
        width: auto;
        padding-left: 39px;
        padding-right: 39px;
    }
    .hero-container{
        
        height: 380px;
        padding: 0 39px;
    }
    .hero--info{
        width: 330px;
        height: 308px;
    }
    .highlight1{
        font-size: 40px;
        line-height: 40px;
    }
    .highlight2{
        font-size: 40px;
        line-height: 40px;
    }
    .bird{
        width: 330px;
        height: 380px;
    }
    .products{
        margin-top: 40px;
    }

    .catalog-container{
        padding: 0 39px;
    }



    .paintings{
        width: 690px;
        display: flex;
    }

    .france,.germany,.england{
        position: relative;
        left: 0;
    }

    .reproductions{
        font-size: 30px;
    }

    .product-catalog {
        grid-template-columns: repeat(2, 1fr); 
        width: 690px;
    }

    .promo-section{
        width: 766px;
        height: 502px;
    }

    .promo-banner {
        width: 766px;
        height: 502px;
    }

    .promo-text3 {
        gap: 20px;
        position: relative;
        top: -380px;
        left: 33px;
        width: 450px;
        height: 60px;
    }

    h3{
        font-size: 30px;
    }

    .promo-star{
        width: 60px;
        height: 60px;
    }

    .text-container {
        left: 33px;
        width: 690px;
        color: #FFFFFF;
        height: 182px;

    }  

    .promo-text1, .promo-text2 {
        font-size: 18px;
    
}

.learn{
    margin-top: 0px;
}

.team-section {
    display: grid;
    width: auto;
    height: 825px;
    padding: 70px 39px;
    margin: 0;
}

.team-info{
    width: 690px;
    height: 281px;
    position: relative;
    right: 29px;
}

.team-info h4{
    font-size: 30px;
}

.blocks-container{
    width: auto;
    height: 250px;
    display: grid;
    padding: 0 39px;
}

.number-workshop{
    display: flex;
    justify-content: space-between;
}

.mobile-container{
    display: flex;
    column-gap: 0;
}

.social-icons{
    padding-left: 75px;
}

}

@media (max-width: 740px){

    .en{
        width: auto;
        height: 123px;
        display: flex;
        flex-direction: column;
        padding: 16px 33px;
    }

    .line{
        border-top: 1px solid #C3D1C6;
        width: 510px;
    }

    .wrapper{
        width: 510px;
    }

    
    .header-menu{
        flex-basis: 100%;
    }

    .hero-container{
        width: auto;
        height: 239px;
        padding: 50px 33px;
    }

    .bird{
        width: 195px;
        height: 239px;
    }

    .hero--info{
        width: 285px;
        height: 239px;
    }

    .highlight1, .highlight2{
        font-size: 36px;
        line-height: 36px;
    }



    .products{
        margin-top: 11px;
    
    }

    .reproductions{
        font-size: 24px;
    }

    .paintings{
        display: block;
        padding: 0;
        width: 470px;
    }

    .bottom{
        margin-top: 20px;
        height: 41px;
    }

    .france, .germany, .england{
        position: relative;
        left: 0px;
        height: 41px;
        width: 118px;
        font-size: 18px;
        line-height: 21px;
    }

    .catalog-container{
        padding: 0 33px;
    }

    .product-catalog {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .product-card{
        width: auto;
        height: auto;
        min-width: auto;
        max-width: 350px;
    }

    .product-image{
        width: 200px;
        height: 250px;
    }

    .product-title{
        font-size: 16px;
    }

    .product-name{
        font-size: 24px;
    }

    .product-details{
        font-size: 16px;
    }

    .product-price{
        font-size: 20px;
    }

    .add-cart{
        font-size: 18px;
        width: 200px;
        height: 50px;
        padding: 0;
        margin-top: 10px;
    }

    .promo-section{
        width: auto;
        height: auto;
        padding: 0 33px;
    }

    .section{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .promo-banner{
        width: 576px;
        height: 410px;
    }

    .promo-text3{
        width: 331px;
        height: 50px;
        position: relative;
        top:-330px;

    }

    .promo-text1, .promo-text2{
        font-size: 16px;
        margin-bottom: 0px;
    }

    .promo-star{
        width: 50px;
        height: 50px;
    }

    h3{
        font-size: 24px;
        line-height: 24px;
    }

    .text-container{
        width: 510px;
        height: 170px;
        position: absolute;
        top: 30%;
    }

    .learn{
        width: 190px;
        height: 50px;
        padding: 0;
        font-size: 18px;
        margin-top: 270px;

    }


    .image-frame{
        width: 375px;
        height: 370px;
    }

    .image-frame img{
        width: 375px;
        height: 370px;
    }

    .team-section{
        width: auto;
        height: 656px;
        padding: 50px 33px;
        margin: 0;
    }

    .team-info{
        width: 510px;
        height: 256px;
        margin-left: 0;
        position: relative;
        right: 0;
    }

    .team-info h4 {
        font-size: 24px;
        line-height: 26px;
    }

    .team-info p {
        font-size: 16px;
        line-height: 22px;
    }

    .blocks-container{
        width: auto;
        height: 319px;
        padding: 0 33px;
    }

    .number-workshop{
        width: 510px;
        height: 50px;
    }

    .number{
        padding-top: 0;
    }

    .workshop{
        font-size: 16px;
    }

    .mobile-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-section{
        width: 510px;
        height: 113px;
    }

    .country{
        font-size: 16px;
        line-height: 24px;
    }

    .line2{
        border-top: 1px solid #C3D1C6;
        width: auto;
        margin: 16px 0;
    }

    .footer-right{
        width: 470px;
        flex-direction: column;

    }

    .social-icons{
        width: auto;
        height: 48px;
        padding-left: 0;
    }

    .social-icons a{
        padding-left: 0px;
        margin-right: 0;
    }

    .copyright{
        display: flex;
        margin-left: 50px;
    }

    .copyright span{
        margin-top: 0px;
    }
}


@media(max-width:500px) {

    header{
        background-color: white;
    }

    .en{
        width: auto;
        height: 130px;
        padding: 0;
    }

    .line{
        display: none;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        width: 485px;
        height: 62px;
        background-color: #E1EDE6;
        column-gap: 0px;
    }

    .shopping-cart{
        margin-right: 10px;
    }


    .burger {
        width: 20px;
        height: 20px;
        position: relative;
        top: 20px;
        left: 15px;
        display: flex;
    
    }

    nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 320px;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 144px 188px 126px 15px;
        background-color: #E1EDE6;
    }

    nav ul{
        flex-direction: column;
        row-gap: 30px;
    }


    .header-logo{
        padding: 0;
        margin-top: 17px;
        width: 143px;
        height: 35px;
    }

    .hero-container{
        width: auto;
        height: 233px;
        padding: 0;
        margin: 60px 13px;
    }

    .bird{
        display: none;
    }

    .hero--info{
        width: 290px;
        height: 233px;
    }

    .highlight1, .highlight2{
        font-size: 33px;
        line-height: 33px;
    }

    .text1{
        font-size: 14px;
        line-height: 21px;
    }

    .products{
        width: 154px;
        height: 50px;
        padding: 0;
        margin-top: 40px;
    }

    .catalog-container{
        padding: 0 15px;
    }

    .paintings{
        padding: 0;
        width: 290px;
        margin: 0 auto;
    }

    .bottom{
        display: flex;
        width: 290px;
        column-gap: 10px;
    }

    .france, .germany, .england{
        width: 100px;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 10px;
        margin-right: 0;
    }

    .product-catalog{
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .product-image{
        width: 100%;
        height: auto;
    }

    .add-cart{
        width: 100%;
    }

    .promo-section{
        width: 320px;
        height: 552px;
    }

    .promo-banner{
        width: 320px;
        height: 552px;
        object-fit: cover;
        object-position: 20% 10%;
    }

    .promo-text3{
        width: 290px;
        height: 75px;
        position: relative;
        top: -500px;
        left: 15px;
    }

    .text-container{
        max-width: 350px;
        height: 280px;
        position: absolute;
        top: 150px;
        left: 85px;
    }

    .promo-text1, .promo-text2{
        line-height: 22px;
    }

    .learn{
        width: 100%;
        margin-top: 270px;
    }

    .team-section{
        width: auto;
        height: 660px;
        padding: 0;
        padding-bottom: 134px;
        display: grid;
        margin: 0;
        row-gap: 0;
    }

    .image-frame{
        width: 320px;
        height: auto;
        padding: 0;
    }

    .image-frame img{
        width: 290px;
        height: 287px;
        margin: 60px 15px 30px 15px;
    }

    .team-info{
        width: 290px;
        height: 256px;
        position: relative;
        left: 0;
        margin-left: 15px;
    }

    .team-info p{
        width: 290px;
        font-size: 16px;
        line-height: 22px;
    }

    .team-members{
        display: flex;
        gap: 25px;
    }


    .blocks-container{
        width: auto;
        height: 100%;
        padding: 0 15px;

    }

    .footer-left{
        margin-bottom: 10px;
    }

    .footer-right{
        width: auto;
    }

    .number-workshop{
        width: 143px;
        height: 109px;
        display: grid;
        row-gap: 20px;
        position: relative;
        top: 50px;
    }

    .number{
        font-size: 16px;
    }

    .mobile-container{
        display: grid;
    }


    .info-section {
        display: grid;
        grid-template-rows: auto 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 20px; 
        width: 290px;
        height: 212px;
      }
      
      .info-column:nth-child(1) {
        grid-column: 2 / -1;
        grid-row: 1; 
      }
      
      .info-column:nth-child(2) {
        grid-column: 1; 
        grid-row: 2; 
      }
      
      .info-column:nth-child(3) {
        grid-column: 2; 
        grid-row: 2; 
      }


      h5{
        font-size: 16px;
      }

      .line2{
        width: 455px;
        margin: 20px 0;
      }

      .social-icons{
        position: relative;
        left: 0px;
        bottom: 10px;
      }



}